html {
    font-size: 10px; /* Normalize 1rem to 10px */
}

body {
    font-family: $font-sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    font-size: 1.8rem;
    font-weight: normal;
    line-height: 1.4;
    margin: 0;
    padding: 0;
}

p,
a,
ul,
li {
    font-size: 1.6rem;
    line-height: 1.25;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
