// Mixins

// Helper classes
.hidden--accessible {
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    outline: none !important;
    overflow: hidden;
    position: absolute !important;
    width: 1px;
}
