/* ======================================== 
 * Colors 
 * ======================================== */ 
/*
 * Grays
 */
$light-gray: #707070;

/*
 * Blues
 */
$light-blue: #add8e6;

/*
 * Greens
 */
$light-green: #E7F1EC;

/* ======================================== 
 * Typography 
 * ======================================== */ 
$font-serif: Georgia, "Times New Roman", serif;
$font-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
